<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/control/0/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1030" />
    <add key="mainForm.Location.Y" value="312" />
    <add key="mainForm.Width" value="940" />
    <add key="mainForm.Height" value="1280" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAOtRnpv/jfG+BwMDj6PszBQmBigQ+v1FHMYGAPiSW7kkAAAA" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="" />
    <add key="/nvidiagpu/0/clock/1/values" value="" />
    <add key="/nvidiagpu/0/clock/2/values" value="" />
    <add key="/nvidiagpu/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/load/1/values" value="" />
    <add key="/nvidiagpu/0/load/2/values" value="" />
    <add key="/nvidiagpu/0/load/3/values" value="" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAFtTPjf/G+N9DwXvUIcffZFSDEAAYgMAlUMyCxgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAFtTPjf/G+N9jwfl311+9EVKMQABiA0AL4FDXxgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAFtTPjf/G+N9D4amDqcffZFSDCAAZAMAoZ0JeRgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAFtTPjf/G+N9DwYGBtcffZFSDBDgCgAJY97dGAAAAA==" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAFvAYlHwjfG+x6QIFycvhVQmBiBQynd2+iEIYS9scnaa1Z0CZkt/dHJqYU0Gsz/wujit4ssGs1dZuzlxnEsDs4tM3J3MZ0DUW8x0d7qclA5m3yxwd1rKBTGzLtvTacHjWDD7V6iX04QjEPVJor5OADDAfRqQAAAA" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAFvAYlHwjfG+xxqeXw5eCqlMDECQ9PiHww9BCNvszw+HWd0pYPYTpx8OLazJYPaCtT8dVvFlg9nPiv84cJxLA7N3bfjrYD4Dol7A8J/D5aR0MHvZ378OS7kgZuY7MjgueBwLZu+7xuA44QhE/ZJpTI4AstHgJJAAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAFvAYlHwjfG+x7y1jI5eCqlMDEDg7MTk+EMQwr5pyuQ4qzsFzG6axOTYwpoMZqvcZXRcxZcNZjNWMThynEsDs/W2/3cwnwFRf8Psv8PlpHQw2ynrv8NSLoiZXE//OCx4HAtm5+z67TDhCET9AqsfDgBsl9VNkAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwPDCSdrtigpBjA44QQAeLfLCxgAAAA=" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEABOfOC3/G+N9DwaGE055J6OkGMDghBMASwSCfBgAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwPDCSdrtigpBjA44QQAeLfLCxgAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwPDCSdrtigpBjA44QQAeLfLCxgAAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwPDCSdrtigpBjA44QQAeLfLCxgAAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwODh9M6oVQmBjDwcFL/lQZlezq9kEiGs+WepUDZXk5/JqTB1cfezYCyfZzEa9Phav7uTYGrCQtNgat5fqUMzt6m5g9lezsBAB6RFOOQAAAA" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwODi9M6oVQmBjBwdVL/lQZlezi9kEiGst2d5J6lwNk3p6RD2W5ODTfT4erFa9Phav7uTYGLfw7QYoexARw9Lex4AAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwODj9M6oVQmBjDwclL/lQZl+zodsE+Gsr2d3PanwNk3p6RD2T5ODTdhbH8n8dp0uN6/e1PgbP3aFLgavrVlULaf0zY1fyg7wAkA1983kJAAAAA=" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwODk9M6oVQmBjBwdFL/lQZluzodsE+Gsp2d3PanwNk3p6RD2S5ODTfT4eq1l6TD1byclgJXo1+LYPOtLYOr36bmDxcHAMInY92QAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAPMKmZ7/jfG+BwODt9M6oVQmBjDwclJXTIeyfZ0OSCRD2d5Oi7+kwMVr4tPh4g03YewAJ+0lCL0vpyHU69fC2P5OQlfL4OKb/vnB9QIA27Ilk5AAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAOtRnpv/jfG+x4p7J5xuNqcwMQDBBJWTTod90uHsr4ch7ElA9qaCRLh4W3smmD0RyJ60LxUuziWXBRev2p0AZvcD2X1CqXBzZmwqg6vRWuUH1wsA7I1rFJAAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAEuYNDP/G+N9j5cmi128RVKZGIBgW+5il0gbCHsrkL3fHSG+rD0FzN4CZH9akQZXs7ctC65mBmManN1bkgRX8/EjRO92IHvThzK4eGGeH5wNALA/hPiQAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEALPXnJX/jfG+x0uTxS4CW1KYGIBgW+5il5V96WD2ViD7FG8qXHzjJoiaLUD20740uJquzAy4mt0aCPZH/wS4mmtcEDO3A9kSf0vg4j+CAuBsACd49TaQAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEALt5b07+N8b7Hi9NFrscjU1hYgCCbbmLXSyj08HsrUB2w+lUuHhWXBKYvQUk3pYBV3N6VhpczdM9mXD2JdcEuJq1zBBztgPZ6lfK4OIvjwXA2QD4RU7IkAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAOtRnpv/jfG+x0uTxS43m1OYGIBgW+5il8M+6WD2ViD76+F0uPimgkQwewuQ3daeCVczaV8qXA2XXBacXbU7Aa6mTwiiZjuQPWNTGVxca5UfnA0AdDbOeJAAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAOtRnpv/jfG+x82kLw43m1OYGIBA4O93h8M+6WD2AwcGx6+HIexmny8OmwoSwex12986tLVngtmtIe8cJu1LBbPDLZkdueSywOym/C8OVbsTwOyjwm8c+oQgauJ+P3aYsakMzO62f+agtcoPzF7T+8YBAPcAB7+QAAAA" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAOtRnpv/jfG+RxrvVIebzSlMDECwUXW2w2GfdDBbTGW+w9fDEPb5wKkOmwoSwWx5uSkObe2ZYPblnEkOk/alQtTHz3fgkssCszmeT3Wo2p0AZiu7TnLoE4KoEZk5xWHGpjIwu2j2VAetVX5gdv6MGQ4AuOw5uZAAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAOtRnpv/jfG+x/4d3XY3m1OYGIDA4N5Bu8M+6WD2w7fM9l8PQ9jbI87ZbSpIBLMnizfbtbVngtknTKbbTdqXCmb3RCnZc8llgdlHthyzq9qdAGZH/Syx6xOCqHl3ZJnNjE1lYDZDrIWt1io/MHvmGh47AHkggEGQAAAA" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAOtRnpv/jfG+h5/aF/ubzSlMDECQNPml/WGfdDA74OMr+6+HIewov1/2mwoSwWzuwo/2be2ZYPbSQwwOk/algtnzTP7bc8llgdnPWn7bV+1OALP1Qn/Z9wlB1BQcOWc/Y1MZmB0277y91io/MJs1/Zo9AKhuVuSQAAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="500" />
    <add key="treeView.Columns.Value.Width" value="200" />
    <add key="treeView.Columns.Min.Width" value="200" />
    <add key="treeView.Columns.Max.Width" value="200" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>